{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'sim_app/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'sim_app/css/custom.css' %}"/>

        <title>Traffic Sim</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="{% static 'sim_app/img/stop.svg' %}" with="30" height="30" class="d-inline-block align-top"alt="">
                Traffic Sim
            </a>
        </nav>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>


        <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static 'sim_app/js/bootstrap.min.js' %}"></script>
    </body>
</html>