{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'sim_app/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'sim_app/css/base.css' %}">
        {% block custom-css %}
        {% endblock %}

        <title>Traffic Sim</title>
    </head>
    <body>

        <nav class="navbar navbar-light bg-light shadow px-5">
            <a class="navbar-brand" href="/">
                <div class="d-flex">
                    <img src="{% static 'sim_app/img/stop.svg' %}" class="d-inline-block align-bottom"  width="30" height="30"alt="">
                    <span class="font-weight-light logo mx-2">Traffic Sim</span>
                </div>
            </a>
        </nav>

        <div id="settings-container" class="container">
            {% block settings-content %}
            {% endblock %}
        </div>

        <div class="h-separator"></div>

        <div id="sim-container" class="container">
            {% block sim-content %}
            {% endblock %}
        </div>

        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        {% block scripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="{% static 'sim_app/js/bootstrap.min.js' %}"></script>
        {% endblock %}

    </body>
</html>