{% extends 'sim_app/base.html' %}
{% load static %}

{% block custom-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'sim_app/css/custom.css' %}">
{% endblock %}

{% block content %}

<div>
    <ul class="nav nav-pills justify-content-center mt-4" id="settings-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="map-tab" data-toggle="pill" href="#map-settings">Map</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="node-tab" data-toggle="pill" href="#node-settings">Node</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="edge-tab" data-toggle="pill" href="#edge-settings">Edge</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="gen-tab" data-toggle="pill" href="#gen-settings">Generator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="debug-tab" data-toggle="pill" href="#debug-settings">Debug Level</a>
        </li>
    </ul>
</div>

<div id="settings-container" class="d-flex justify-content-center px-4 py-2">
    <div class="tab-content p-4" id="settings-tab-content">
        <div class="tab-pane fade show active container pl-3" role="tabpanel" id="map-settings">
            <p class="text-muted text-center font-weight-light">You can save the map you created or load one of the maps currently in the database</p>
            <div class="d-flex flex-column align-items-center">
                <form action="{% url 'sim_app:settings' 'load_map' %}" method="post" name="load_map">
                    {% csrf_token %}
                    <div class="form-row align-items-center my-2">
                        <label for="map_name">Load Map: </label>
                        <div class="col-auto">
                            <input id="map_name" class="form-control mb-2" placeholder="Map Name" type="text" name="map_name" value="{{ map_name }}">
                        </div>
                        <div class="col-auto">
                            <button type="submit" name="load_button" class="btn btn-primary mb-2"> Load Map </button>
                        </div>
                    </div>
                </form>
                <form action="{% url 'sim_app:settings' 'save_map' %}" method="post" name="save_map">
                    {% csrf_token %}
                    <div class="form-row align-items-center my-2">
                        <label for="map_name">Save Map: </label>
                        <div class="col-auto">
                            <input id="map_name" class="form-control mb-2" placeholder="Map Name" type="text" name="map_name" value="{{ map_name }}">
                        </div>
                        <div class="col-auto">
                            <button type="submit" name="save_button" class="btn btn-primary mb-2"> Save Map </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="tab-pane fade container" role="tabpanel" id="node-settings">
            <p class="text-muted text-center font-weight-light">Add new node, use only integer values all the fields including ID field</p>
            <form action="{% url 'sim_app:settings' 'add_node' %}" method="post" name="add_node">
                {% csrf_token %}
                <div class="form-row align-items-center justify-content-center mb-2">
                    <label class="" for="node_id">Node ID:</label>
                    <div class="col-auto">
                        <input id="node_id" class="form-control" type="text" name="node_id" placeholder="Node ID" value="{{ node_id }}">
                    </div>
                </div>
                <div class="form-row align-items-center justify-content-center mb-2">
                    <label class="" for="node_x">Node X:</label>
                    <div class="col-auto">
                        <input id="node_x" class="form-control" type="text" name="node_x" placeholder="X Pos" value="{{ node_x }}">
                    </div>
                </div>
                <div class="form-row align-items-center justify-content-center mb-2">
                    <label class="" for="node_x">Node Y:</label>
                    <div class="col-auto">
                        <input id="node_y" class="form-control" type="text" name="node_y" placeholder="Y Pos" value="{{ node_y }}">
                    </div>
                </div>
                <div class="form-row align-items-center justify-content-center mt-3">
                    <button class="btn btn-primary" type="submit">Add Node</button>
                </div>
            </form>
        </div>

        <div class="tab-pane fade container" role="tabpanel" id="edge-settings">
            <form action="{% url 'sim_app:settings' 'add_edge' %}" method="post" name="add_edge">
                {% csrf_token %}
                <legend>Add Edge:</legend>
                <label for="edge_from">from: </label>
                <input id="edge_from" type="text" name="edge_from" value="{{ edge_from }}">
                <label for="edge_to">to: </label>
                <input id="edge_to" type="text" name="edge_to" value="{{ edge_to }}">
                <label for="edge_lanes">Lane Count: </label>
                <input id="edge_lanes" type="text" name="edge_lanes" value="{{ edge_lanes }}">
                <label for="edge_bidir">Is Bidirected?: </label>
                <input id="edge_bidir" type="checkbox" name="edge_bidir" value="{{ edge_bidir }}">
                <input type="submit" value="Add Edge">
            </form>
        </div>

        <div class="tab-pane fade container" role="tabpanel" id="gen-settings">
            <form action="{% url 'sim_app:settings' 'add_gen' %}" method="post" name="add_gen">
                {% csrf_token %}
                <legend for="debug_level">Add Generator: </legend>
                <label for="gen_source">Comma seperated source list: </label>
                <input id="gen_source" type="text" name="gen_source" value="{{ gen_source }}">
                <label for="gen_target">Comma seperated target list: </label>
                <input id="gen_target" type="text" name="gen_target" value="{{ gen_target }}">
                <label for="gen_period">Period: </label>
                <input id="gen_period" type="text" name="gen_period" value="{{ gen_period }}">
                <label for="gen_count">Car count: </label>
                <input id="gen_count" type="text" name="gen_count" value="{{ gen_count }}">
                <input type="submit" value="Add Generator">
            </form>
        </div>

        <div class="tab-pane fade container" role="tabpanel" id="debug-settings">
            <form action="{% url 'sim_app:settings' 'debug_level' %}" method="post" name="debug_level">
                {% csrf_token %}
                <legend for="debug_level">Debug Level: </legend>
                <input id="dl_car_stat" type="checkbox" name="debug_level[]" value="CarStats">
                <label for="dl_car_stat">CarStat</label>
                <input id="dl_edge_stat" type="checkbox" name="debug_level[]" value="EdgeStats">
                <label for="dl_edge_stat">EdgeStat</label>
                <input id="dl_enter_exit" type="checkbox" name="debug_level[]" value="CarEnterExits">
                <label for="dl_enter_exit">CarEnterExit</label>
                <input type="submit" value="Set Debug Level">
            </form>
        </div>
    </div>
</div>

<div>
    <form action="{% url 'sim_app:simulation' %}" method="post" name="start_sim">
        {% csrf_token %}
        <input type="submit" value="Create Simulation">
    </form>
</div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $('#settings-tab a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    </script>
{% endblock %}