{% extends 'sim_app/base.html' %}
{% load static %}

{% block custom-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'sim_app/css/custom.css' %}">
{% endblock %}

{% block settings-content %}

<div>
    <ul class="nav nav-pills justify-content-center mt-4" id="settings-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active " id="map-tab" data-toggle="pill" href="#map-settings">Map</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="node-tab" data-toggle="pill" href="#node-settings">Node</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="edge-tab" data-toggle="pill" href="#edge-settings">Edge</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="gen-tab" data-toggle="pill" href="#gen-settings">Generator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="debug-tab" data-toggle="pill" href="#debug-settings">Debug Level</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="restart-tab" data-toggle="pill" href="#restart-settings">Restart Sim</a>
        </li>
    </ul>
</div>

<div id="settings-container" class="d-flex flex-column justify-content-center px-4 pt-2">
    <div class="tab-content p-4" id="settings-tab-content">
        <div class="tab-pane fade show active container pl-3" role="tabpanel" id="map-settings">
            <p class="text-muted text-center font-weight-light">You can save the map you created or load one of the maps currently in the database</p>

            <div class="d-flex flex-column align-items-center">
                <form action="{% url 'sim_app:settings' 'load_map' %}" method="post" name="load_map">
                    {% csrf_token %}
                    <div class="form-row align-items-center my-2">
                        <div class="col-auto">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Load</span>
                                </div>
                                <input id="map_name" class="form-control" placeholder="Map Name" type="text" name="map_name" value="{{ map_name }}">
                            </div>
                        </div>
                        <button type="submit" id="load_button" name="load_button" class="btn-sm btn-primary m-1 ml-2"> Load Map </button>
                    </div>
                </form>
                <form action="{% url 'sim_app:settings' 'save_map' %}" method="post" name="save_map">
                    {% csrf_token %}
                    <div class="form-row align-items-center my-2">
                        <div class="col-auto">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Save</span>
                                </div>
                                <input id="map_name" class="form-control" placeholder="Map Name" type="text" name="map_name" value="{{ map_name }}">
                            </div>
                        </div>
                        <button type="submit" name="save_button" class="btn-sm btn-primary m-1 ml-2">Save Map</button>
                    </div>
                </form>

            </div>
        </div>

        <div class="tab-pane fade container" role="tabpanel" id="node-settings">
            <p class="text-muted text-center font-weight-light">Add new node, use only integer values all the fields including ID field</p>
            <form action="{% url 'sim_app:settings' 'add_node' %}" method="post" name="add_node">
                {% csrf_token %}
                <div class="form-row align-items-center justify-content-center mb-2">
                    <div class="col-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                    <span class="input-group-text">ID</span>
                                </div>
                            <input id="node_id" class="form-control" type="text" name="node_id" placeholder="Node ID" value="{{ node_id }}">
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center justify-content-center mb-2">
                    <div class="col-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                    <span class="input-group-text">X</span>
                                </div>
                            <input id="node_x" class="form-control" type="text" name="node_x" placeholder="X Pos" value="{{ node_x }}">
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center justify-content-center mb-2">
                    <div class="col-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                    <span class="input-group-text">Y</span>
                                </div>
                            <input id="node_y" class="form-control" type="text" name="node_y" placeholder="Y Pos" value="{{ node_y }}">
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center justify-content-center my-3">
                    <button class="btn btn-primary" type="submit">Add Node</button>
                </div>
            </form>

            <p class="text-muted text-center font-weight-light">Delete node with NodeID</p>
            <form action="{% url 'sim_app:settings' 'delete_node' %}" method="post" name="delete_node">
                {% csrf_token %}
                <div class="form-row align-items-center justify-content-center mb-2">
                    <div class="col-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                    <span class="input-group-text">ID</span>
                                </div>
                            <input id="node_id" class="form-control" type="text" name="node_id" placeholder="Node ID" value="{{ node_id }}">
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center justify-content-center mt-3">
                    <button class="btn btn-primary" type="submit">Delete Node</button>
                </div>
            </form>
        </div>

        <div class="tab-pane fade container" role="tabpanel" id="edge-settings">
            <p class="text-muted text-center font-weight-light">Add new edge between two nodes</p>
            <form action="{% url 'sim_app:settings' 'add_edge' %}" method="post" name="add_edge">
                {% csrf_token %}
                <div class="form-row align-items-center justify-content-center mb-2">
                    <div class="col-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                    <span class="input-group-text">From</span>
                                </div>
                            <input id="edge_from" class="form-control" type="text" name="edge_from" placeholder="Node ID">
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center justify-content-center mb-2">
                    <div class="col-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                    <span class="input-group-text">To</span>
                                </div>
                            <input id="edge_to" class="form-control" type="text" name="edge_to" placeholder="Node ID">
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center justify-content-center mb-2">
                    <div class="col-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                    <span class="input-group-text">Lanes</span>
                                </div>
                            <input id="edge_lanes" class="form-control" type="text" name="edge_lanes" placeholder="Count">
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center justify-content-center mb-2">
                    <div class="form-check">
                        <input id="edge_bidir" class="form-check-input" type="checkbox" name="edge_bidir">
                        <label for="edge_bidir" class="">Bidirected</label>
                    </div>
                </div>
                <div class="form-row align-items-center justify-content-center mt-3">
                    <button class="btn btn-primary" type="submit">Add Edge</button>
                </div>
            </form>
        </div>

        <div class="tab-pane fade container" role="tabpanel" id="gen-settings">
            <p class="text-muted text-center font-weight-light">Add new generators to spawn new cars randomly</p>
            <form action="{% url 'sim_app:settings' 'add_gen' %}" method="post" name="add_gen">
                {% csrf_token %}
                <div class="form-row align-items-center justify-content-center mb-2">
                    <div class="col-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                    <span class="input-group-text">Sources</span>
                                </div>
                            <input id="gen_source" class="form-control" type="text" name="gen_source" placeholder="Node ID List">
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center justify-content-center mb-2">
                    <div class="col-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Targets</span>
                            </div>
                            <input id="gen_target" class="form-control" type="text" name="gen_target" placeholder="Node ID List">
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center justify-content-center mb-2">
                    <div class="col-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                    <span class="input-group-text">Period</span>
                                </div>
                            <input id="gen_period" class="form-control" type="text" name="gen_period" placeholder="Seconds">
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center justify-content-center mb-2">
                    <div class="col-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Car Count</span>
                            </div>
                            <input id="gen_count" class="form-control" type="text" name="gen_count" placeholder="# of cars">
                        </div>
                    </div>
                </div>

                <div class="form-row align-items-center justify-content-center mt-3">
                    <button class="btn btn-primary" type="submit">Add Generator</button>
                </div>
            </form>
        </div>

        <div class="tab-pane fade container" role="tabpanel" id="debug-settings">
            <p class="text-muted text-center font-weight-light">Set debug level according to notifications that you want</p>
            <form action="{% url 'sim_app:settings' 'debug_level' %}" method="post" name="debug_level">
                {% csrf_token %}
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <div class="d-flex flex-column align-items-center px-5">
                        <div class="form-check">
                            <input class="form-check-input" id="dl_car_stat" type="checkbox" name="debug_level" value="CarStat">
                            <label for="dl_car_stat">CarStat</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="dl_enter_exit" type="checkbox" name="debug_level" value="CarEnterExit">
                            <label for="dl_enter_exit">CarEnterExit</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="dl_edge_stat" type="checkbox" name="debug_level" value="EdgeStat">
                            <label for="dl_edge_stat">EdgeStat</label>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-center px-5">
                        <div class="form-check">
                            <input class="form-check-input" id="dl_sim_stat" type="checkbox" name="debug_level" value="SimStat">
                            <label for="dl_sim_stat">SimStat</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="dl_start_finish" type="checkbox" name="debug_level" value="CarStartFinish">
                            <label for="dl_start_finish">CarStartFinish</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="dl_sim_report" type="checkbox" name="debug_level" value="SimReport" checked disabled>
                            <label for="dl_sim_report">SimReport</label>
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center justify-content-center mt-3">
                    <button class="btn btn-primary" type="submit">Set Debug Level</button>
                </div>
            </form>
        </div>

        <div class="tab-pane fade container" role="tabpanel" id="restart-settings">
            <p class="text-muted text-center font-weight-light">Restart simulation</p>
            <form action="{% url 'sim_app:settings' 'restart_sim' %}" method="post" name="restart_sim">
                {% csrf_token %}
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <div class="d-flex flex-column align-items-center px-5">
                        <div class="form-check">
                            <input class="form-check-input" id="quickstart" type="checkbox" name="quickstart" value="quickstart">
                            <label for="restart_quickstart">Quick Start</label>
                        </div>
                    </div>
                </div>
                <div class="form-row align-items-center justify-content-center mt-3">
                    <button class="btn btn-danger" type="submit">Restart Sim</button>
                </div>
            </form>
        </div>
    </div>
    <div id="info-container" class="row justify-content-center">
        <div id="info" class="alert alert-success" role="alert" style="opacity: 0">
            This is a notification
        </div>
    </div>
</div>
{% endblock %}

{% block sim-content %}
<div id="sim-container" class="d-flex flex-column align-items-center justify-content-center">
    <div class="my-4">
        <form action="{% url 'sim_app:simulation' %}" method="post" >{% csrf_token %}
            <div class="input-group px-5 mb-3">
                <div class="input-group-prepend">
                    <button name="start-sim" class="btn btn-primary">Start Simulation</button>
                </div>
                <input class="form-control" type="text" id="tick_period" name="tick_period" placeholder="with Tick period (milliseconds)">
                <div class="input-group-append">
                    <input name="tick" class="btn btn-success" type="submit" value="or manually Tick">
                    <input name="terminate-sim" class="btn btn-danger" type="submit" value="Terminate">
                </div>
            </div>
        </form>
        <p class="text-muted text-center font-weight-light">Simulation Map will be here</p>
        <div id="map-container" class="sim-map rounded custom-border">
            <canvas id="car-canvas" class="w-100 h-100 map-canvas cars"></canvas>
            <canvas id="map-canvas" class="w-100 h-100 map-canvas"></canvas>
            <canvas id="map-canvas-grid" class="w-100 h-100 map-canvas grid"></canvas>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $('#settings-tab a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $("ul.nav-pills > li > a").on("shown.bs.tab", function(e) {
            var scrollPos = document.documentElement.scrollTop;
            id =  $(e.target).attr("href").substr(1);
            window.location.hash = id;
            window.scroll(0, scrollPos);
        });

        hash = window.location.hash;
        $('#settings-tab a[href="' + hash + '"]').tab('show');

    </script>
    <script src="{% static 'sim_app/js/ajax.js' %}"></script>
    <script src="{% static 'sim_app/js/socket.js' %}"></script>
    <script src="{% static 'sim_app/js/canvas.js' %}"></script>
{% endblock %}